@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.typing {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 2s steps(40, end) infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}


.progress-amber {
  background: repeating-linear-gradient(
    45deg,
    #f59e0b,
    #f59e0b 10px,
    #d97706 10px,
    #d97706 20px
  );
  animation: moveStripes 2s linear infinite;
}

@keyframes moveStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0; /* only move horizontally */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.shadow-amber-glow {
  box-shadow: 0 0 25px rgba(217, 119, 6, 0.55);

}

